#selector {
  width: 100vw;
  height: 100vh;
  background-image: url("https://cdn.wallpapersafari.com/22/81/YfWXmu.jpeg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#pikachuRunner {
  width: 12em;
  height: 8em;
  margin-left: -1.9em;
  display: flex;
  justify-content: center;
}

#credits {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0%;
  margin: 0%;
  text-align: center;
  height: 3vh;
  width: 100%;
  position: absolute;
  bottom: 0;
}
#button {
  padding: 0.3em 1em 1em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5em;
  height: 2em;
  font-weight: 600;
  color: rgb(0, 0, 0);
  border: 2px solid black;
  background-color: white;
  border-bottom-right-radius: 5rem;
  border-bottom-left-radius: 5rem;
  transition: all 1s;
}

#pokeball:hover > #pikachuRunner {
  width: 0%;
  height: 0%;
  transition: all 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pokeBall > img {
  width: 200px;
  height: 100px;
}

#pokeBall {
  display: flex;
  flex-direction: column;
}

#topPB {
  margin-bottom: -4.3em;
  transition: all 1s;
  z-index: 2;
}

#pokeBall:hover > #topPB {
  margin-bottom: 0em;
}

#go {
  text-align: center;
  font-size: 6vh;
  font-weight: bold;
  opacity: 0;
  transition: all 1s;
  z-index: 1;
  color: aliceblue;
}

#pokeBall:hover > #go {
  opacity: 100;
}

#text {
  text-align: center;
  padding-bottom: 2em;
}

#text > h3,
p {
  margin: 0;
}
