#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 30%;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
  min-height: 20em;
  max-height: 40em;
  overflow-y: auto;
}

#cards > #buttons {
  position: absolute;
  bottom: 8%;
}

.card {
  border-radius: 0.5em;
  width: 20em;
  height: 8em;
  padding: 1em;
  display: flex;
  background-color: rgb(246, 246, 246);
  border: 1px solid black;
  justify-content: space-evenly;
  margin: 1em;
}

.card > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 700;
}

.card > div > span:last-of-type {
  font-weight: 600;
  font-size: small;
}

.card > img {
  width: 8em;
  height: 8em;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0a46ee40-0984-4211-86e0-49db0a683386/d8ym1z0-cc0fd464-45a3-4ee8-9984-466426ac5fa5.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzBhNDZlZTQwLTA5ODQtNDIxMS04NmUwLTQ5ZGIwYTY4MzM4NlwvZDh5bTF6MC1jYzBmZDQ2NC00NWEzLTRlZTgtOTk4NC00NjY0MjZhYzVmYTUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Q2setXQhnWSSq6JXlJWzPxuQDpVNZqpxS7hAq9svGVc);
  border-radius: 0.5em;
}

.detailsButton {
  background-color: rgb(58, 58, 58);
  border-radius: 0.3em;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  font-weight: lighter;
  padding: 6px 24px;
  max-width: 9em;
  text-decoration: none;
}

#filters {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(58, 58, 58);
  padding: 0.5em 0 0.5em 0;
  color: white;
  font-weight: 600;
}

#buttons > button {
  box-shadow: inset 0px 1px 0px 0px #f9eca0;
  background: linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
  background-color: #f0c911;
  border: 1px solid #e65f44;
  display: inline-block;
  cursor: pointer;
  color: #c92200;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 0.2em;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ded17c;
}

#buttons > button:disabled {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  background-color: #ededed;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #777777;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 0.2em;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

/* ALL TYPES WITH COLOR */
#GRASS,
#WATER,
#NORMAL,
#FIGHTING,
#BUG,
#DARK,
#DRAGON,
#FAIRY,
#FIRE,
#ROCK,
#STEEL,
#GROUND,
#ICE,
#PSYCHIC,
#POISON,
#GHOST,
#ELECTRIC,
#FLYING {
  color: white;
  padding: 0.3em;
  border-radius: 0.2em;
}

#GRASS {
  background-color: rgb(13, 149, 13);
}
#WATER {
  background-color: rgb(53, 114, 255);
}

#NORMAL {
  background-color: #8f8b72;
}

#FIGHTING {
  background-color: #67290a;
}

#BUG {
  background-color: #84ac44;
}

#DARK {
  background-color: #2a0e00;
}

#DRAGON {
  background-color: rgb(81, 42, 255);
}

#FAIRY {
  background-color: rgb(246, 147, 228);
}

#FIRE {
  background-color: rgb(255, 47, 11);
}

#ROCK {
  background-color: #af8b60;
}

#STEEL {
  background-color: rgb(134, 117, 117);
}

#GROUND {
  background-color: burlywood;
}

#ICE {
  background-color: skyblue;
}

#PSYCHIC {
  background-color: rgb(251, 55, 88);
}

#POISON {
  background-color: rgb(89, 27, 89);
}

#GHOST {
  background-color: rgb(45, 35, 93);
}

#ELECTRIC {
  background-color: rgb(255, 187, 0);
}

#FLYING {
  background-color: rgb(97, 135, 197);
}
