.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 94.7vh;
  background-image: url(https://media.sketchfab.com/models/20fea2bdd6b9457e9962e54e5ecfd301/thumbnails/5ec72f9a51a54455a81355041b15e148/df032edc58cf4297994a84e21da10605.jpeg);
  background-size: cover;
}

form {
  background-color: rgba(240, 248, 255, 0.637);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: max-content;
  height: max-content;
  padding: 1em;
  border-radius: 0.5em;
}

.alertText {
  color: rgb(223, 31, 31);
  font-weight: 600;
}

.conditionText {
  font-size: small;
}

form > label {
  font-size: larger;
  font-weight: bold;
  margin-top: 1em;
}

form > select {
  width: 15em;
}

form > input {
  margin-top: 0.5em;
}
